/* Import */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

/* Header */

header {
	padding-left: 73px;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.07);
	padding-bottom: 12px;
	padding-top: 12px;
}

header .logo{
  opacity: 0.5;
}

header .sub-header {
	background: #2E2E2E;
	padding: 10px;
	width: 100%;
	margin-top: 10px;
}

header .setting-icon {
	opacity: 0.5;
}

header .nav-right{
  padding-right: 72px;
}

header .nav-right li{
  padding-right: 10px;
  padding-left: 10px;
}

header .nav-buttons, .nav-right{
  margin: 0;
}

header .nav-buttons li, .nav-right li {
	display: inline;
}

/* Sub Header */

.sub-header {
	background: #2E2E2E;
	padding: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-group .btn {
	margin-left: 15px;
}

.nav-sub-header {
	color: #c0c0c0;
	text-transform: capitalize;
	font-size: 20px;
  line-height: 35px;
}

.nav-sub-header a {
	color: #fff;
}

/* Buttons */

.btn-header-normal {
	border: 1px solid #DCDADA;
	background: #fff;
	border-radius: 6px;
	color: #666;
	text-transform: uppercase;
	margin-left: 10px;
	margin-right: 10px;
}

.btn-header-orange {
	border: 1px solid #DCDADA;
	background: #EF7503;
	border-radius: 6px;
	color: #FFF;
	text-transform: uppercase;
	margin-left: 10px;
	margin-right: 10px;
}

.btn-orange{
  background: #FF8311;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-blue{
  background: #2687CD;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-green{
  background: #01D716;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-light-green{
  background: #42D781;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-dark{
  background: #5A5A5A;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-red{
  background: #DB3131;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.btn-red-dark{
  background: #A10404;
  border-radius: 4px;
	font-family: Source Sans Pro;
	font-weight: 600;
  color: #fff;
  font-size: 17px;
  text-transform: capitalize;
}



/* Tabs */

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #FFF;
	background-color: #0FAE16;
	border: 1px solid #E0E0E0;
}

.nav-tabs .nav-link {
	border: 1px solid transparent;
	color: #fff;
	background: #637C93;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
	margin-right: 8px;
}

.nav-tabs .nav-link:first-child {
	margin-left: 21px;
}

.list-group-item {
	border: 0px;
}

.tab-content > .tab-pane {
	border: 1px solid #DCDADA;
	padding: 40px;
	border-radius: 8px;
}

.publish-status {
	color: #0FAE16;
	padding-right: 5px;
}

.draft-status {
	color: #EF7503;
	padding-right: 5px;
}

h1.heading-manage {
	font-size: 36px;
	font-weight: 300;
	color: #777;
}

/* Content */

.medium-editor-element {
	word-wrap: break-word;
	min-height: 30px;
	border: 1px solid #DCDADA;
}


#main-content {
  border: 0;
}

.footer-author {
	position: fixed;
	bottom: 5px;
	padding-left: 10px;
}

.form-control:focus {
	background-color: transparent;
	border-color: #80bdff;
	box-shadow: none;
}

#title {
	border: 0;
	font-size: 30px;
	color: #939292;
	font-weight: 300;
}

/* Styles for the input */
div.ReactTags__tagInput {
    width: 281px;
    border-radius: 2px;
    display: inline-block;
		float: left;
}

div.ReactTags__tags {
    position: relative;
}

div.ReactTags__tagInput input.ReactTags__tagInputField, div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
	height: 31px;
	margin: 0;
	width: 100%;
	border: 1px solid #D0CECE;
	padding: 0 4px;
	font-size: 18px;
	font-weight: 300;
	padding-left: 11px;
	color: #111;
	opacity: 1;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
	border: 1px solid #ddd;
	background: #fff;
	font-size: 18px;
	display: inline-block;
	padding: 5px;
	margin: 0 5px;
	cursor: move;
	border-radius: 2px;
	font-weight: 300;
	color: #666;
	padding-top: 2px;
	text-transform: capitalize;
	padding-bottom: 2px;
}

div.ReactTags__selected a.ReactTags__remove {
	color: #aaa;
	margin-right: 4px;
	cursor: pointer;
	float: left;
	padding-left: 2px;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    box-shadow: .05em .01em .5em rgba(0,0,0,.2);
    background: white;
    width: 200px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}

div.ReactTags__tags.react-tags-wrapper {
	min-height: 35px;
}

/* CK EDITOR */

.ck.ck-content.ck-editor__editable {
	border: 1px solid #DCDADA;
	border-radius: 8px !important;
	padding: 20px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 250px;
	color: #555;
	min-height: 400px;
}

/* Comment Tabs */

.card{
	border: 0;
}
.card-header {
	background-color: white;
	border-bottom: 0;
}

.card-body {
	border: 1px solid #BDBDBD;
	border-radius: 8px;
}

.buttons-ft {
	padding-top: 10px;
}


/* Main */
body{
font-family: 'Roboto', sans-serif;
}
