.bd-navbar {
  min-height: 4rem;
}

#main-content {
  border: 0;
}

.footer-author {
	position: fixed;
	bottom: 5px;
	padding-left: 10px;
}

.form-control:focus {
	background-color: transparent;
	border-color: #80bdff;
	box-shadow: none;
}

.form-group.button-group {
	position: fixed;
	bottom: 0;
	right: 10px;
	/* top: 13px; */
}

body {
	overflow-x: hidden;
}

#title, #tags {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  border-bottom: 1px solid #f4f4f4;
}

#sticky-sidebar {
  min-height: 100vh;
}

/* BEAGLE STYLING */

.medium-editor-element {
	min-height: 4000px !important;
}

.medium-editor-toolbar-form {
	padding: 7px;
}

.medium-editor-toolbar-form .medium-editor-toolbar-input {
	height: 25px;
	padding-left: 6px;
	border: 1px solid #f0f0f0;
	margin-left: 17px;
	padding-bottom: 0;
	margin-top: 4px;
	padding-top: 1px;
}

#medium-editor-toolbar-anchor-target-field-1 {
	margin-left: 12px;
}

blockquote{
  font-size: 1.4em;
  width:60%;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #007bff ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.medium-editor-element {
	word-wrap: break-word;
	min-height: 100px;
	outline: none;
	padding-top: 6px;
	padding-bottom: 32px;
	padding-left: 7px;
}

.medium-editor-toolbar {
	height: auto;
}

.medium-editor-placeholder-relative, .medium-editor-placeholder-relative::after {
	font-style: normal;
	color: #777;
	font-size: 20px;
	/* margin-top: 0px; */
}

.medium-toolbar-arrow-under:after {
  border-color: #fff transparent transparent transparent;
  top: 40px; }

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #000 transparent; }

  .medium-editor-toolbar {
  	background-color: #fff;
  	border: none;
  	border-radius: 50px;
  	box-shadow: 0px 2px 5px #ddd;
  }
  .medium-editor-toolbar li button {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: #000;
    height: 40px;
    min-width: 40px;
    padding: 5px 12px;
    -webkit-transition: background-color .2s ease-in, color .2s ease-in;
            transition: background-color .2s ease-in, color .2s ease-in; }
    .medium-editor-toolbar li button:hover {
      color: #007bff; }
  .medium-editor-toolbar li .medium-editor-button-first {
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    padding-left: 24px; }
  .medium-editor-toolbar li .medium-editor-button-last {
    border-bottom-right-radius: 50px;
    border-right: none;
    border-top-right-radius: 50px;
    padding-right: 24px; }
  .medium-editor-toolbar li .medium-editor-button-active {
    color: #007bff; }

.medium-editor-toolbar-form {
  background: #fff;
  border-radius: 50px;
  color: #ccc;
  overflow: hidden; }
  .medium-editor-toolbar-form .medium-editor-toolbar-input {
    background: #fff;
    box-sizing: border-box;
    color: #ccc;
    height: 40px;
    padding-left: 16px;
    width: 220px; }
    .medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
      color: #f8f5f3;
      color: rgba(248, 245, 243, 0.8); }
    .medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
      /* Firefox 18- */
      color: #f8f5f3;
      color: rgba(248, 245, 243, 0.8); }
    .medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
      /* Firefox 19+ */
      color: #f8f5f3;
      color: rgba(248, 245, 243, 0.8); }
    .medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
      color: #f8f5f3;
      color: rgba(248, 245, 243, 0.8); }
  .medium-editor-toolbar-form a {
    color: #ccc;
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }
  .medium-editor-toolbar-form .medium-editor-toolbar-close {
    margin-right: 16px; }

.medium-editor-toolbar-anchor-preview {
  background: #000;
  border-radius: 50px;
  padding: 5px 12px; }

.medium-editor-anchor-preview a {
  color: #ccc;
  text-decoration: none; }

.medium-editor-toolbar-actions li, .medium-editor-toolbar-actions button {
border-radius: 50px; }
