.bd-navbar {
  min-height: 4rem;
  background-color: #3d477c;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
}

#messages li {
  list-style: square;
  font-size: 14px;
}

#messages {
  overflow-x:scroll;
  height: 320px;
}